.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

#Electron-builder output
/dist_electron
/pydist
/mtga-project-vue-win32-x64

#Personal work todo
joe-todo.txt
joe-todo.md

#Python binary files
*.pyc

#Python venv
src/py/venv/*

#Python test files
src/py/test.py
output.txt
matches.json